<section class="h-100 h-custom" style="background-color: #eee; margin-top:80px;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">Thank you for your order</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>{{orderDataPopulated.createdAt}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>{{orderDataPopulated._id}}</p>
              </div>
            </div>
            
            
            <p class="lead fw-bold mb-4 pb-2" >Total Amount:<span style="color: #d53f21;">₹{{totalAmount}}</span></p>

            <p class="lead fw-bold mb-4 pb-2" >Payment Method:<spa style="color: #f37a27;">{{orderDataPopulated.paymentMethod}}</span> </p>

            

            <a href="/"><button class="btn btn-primary" type="button">Go to home</button></a>
            <a href="/myOrders"><button class="btn btn-success" type="button">Go to My Orders</button></a>

              

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27;">Please contact
                us</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>